body {
	background-color: #B8B6AD;
	font-family: Helvetica;
}
p {
	font-size: 34px;
	font-family; Helvetica;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1vh;
	border: 1px bold;
}
.box {
	color: black;
	border-style: solid;
	border-color: black;
}
.a {
	grid-column-start: 1;
	grid-column-end: span 2;
}
.b {
	grid-column-start: 3;
	grid-column-end: span 2;
}
.c {
	grid-column-start: 3;
	grid-column-end: span 2;
}
.d {
	grid-column-start: 1;
	grid-column-end: span 2;
}
